@model Order
@using Versta.Data.Models;

<form asp-action="Create" role="form">
    
    <div class="=form-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="SendCity" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="SendCity" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SendAdress" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="SendAdress" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ArriveCity" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="ArriveCity" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="ArriveAdress" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="ArriveAdress" class="form-control" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label asp-for="Weight" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="Weight" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PickupDate" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="PickupDate" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        
        <input type="submit" value="Create" class="btn btn-primary" 
    </div>
</form>

@section Scripts {
    @Html.Raw(TempData["msg"])
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
